.wd-kanbas-navigation {
    background-color: black;
    list-style: none;
    padding: 0px;
    width: 90px;
    margin: 0px;
}



.wd-kanbas-navigation2 {
    list-style: none;
    /* padding: 0px; */
    width: 90px;
    margin: 0px;
}
.wd-kanbas-navigation2 li {
    margin-bottom: 15px;
    text-align: center;
}
.wd-kanbas-navigation2 li a {
    color: red;
    text-decoration: none;
}



.wd-kanbas-navigation li {
    padding: 10px;
    margin-bottom: 15px;
    text-align: center;
}

.wd-kanbas-navigation li a {
    color: white;
    text-decoration: none;
}

.wd-kanbas-navigation li.wd-active {
    background-color: white;
}
.wd-kanbas-navigation li.wd-active a {
    color: red;
}
.wd-kanbas-navigation li a i {
    color: red;
    font-size: 1.5em;
    margin-bottom: 5px;
}

#accountWhite {
    color: gray;
}
