.wd-profile-navigation {
    background-color: white;
    list-style: none;
    padding: 0px;
    width: 195px;
    margin: 0px;
    margin-left: 20px;
}
.wd-profile-navigation li {
    padding-left: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.wd-profile-navigation li.wd-active {
    border-left: 2px solid black;
}
.wd-profile-navigation li.wd-active a {
    color: black;
}
.wd-profile-navigation a {
    color: red;
    text-decoration: none;
}

